* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* MAIN */

a {
    text-decoration: none;
    color: black;
}

#title:hover {
    color: slategray;
}
.fa,
.fas {
    font-weight: 900;
    padding: 5px;
}

footer {
    margin: 5px;
    font-size: 14px;
}

img {
    height: 300px;
    object-fit: cover;
}

input {
    margin: 10px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 8px;
    font-size: 11px;
}

button {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-family: "Unica One", cursive;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.buttonbox {
    height: 50px;
    align-self: flex-end;
    margin: 15px;
}

h1 {
    font-family: "Unica One", cursive;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 45px;
}

h2 {
    margin-left: 120px;
    font-family: "Montserrat", sans-serif;
}
h3 {
    font-size: 25px;
    padding: 7px;
    font-family: "Unica One", cursive;
}
form {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 30px;
}

.imgContainer {
    height: 370px;
    width: 370px;
    border: 2px black solid;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    border-top: 1px black solid;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: "Unica One", cursive;
    font-size: 20px;
}

.fa-times {
    font-size: 25px;
    margin: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/* MODAL */

.selected {
    height: 500px;
}

.component {
    border: 2px solid black;
    background-color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    padding: 25px;
}

.componentContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.imageContainer {
    padding-right: 25px;
}

.comment {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.commentInput {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

#postedBy {
    font-size: 13px;
    color: dimgray;
}

/*     UPLOAD BUTTON      */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: gold;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: "Unica One", cursive;
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/* MORE */
#more {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moreButton {
}
