* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* MAIN */

a {
    text-decoration: none;
    color: black;
}

#title:hover {
    color: slategray;
}
.fa,
.fas {
    font-weight: 900;
    padding: 5px;
}

footer {
    margin: 5px;
    font-size: 14px;
}

img {
    height: 300px;
    object-fit: cover;
}

input {
    margin: 10px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 8px;
    font-size: 11px;
}

button {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-family: "Unica One", cursive;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

h1 {
    font-family: "Unica One", cursive;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 45px;
}

h2 {
    margin-left: 120px;
    font-family: "Montserrat", sans-serif;
}
h3 {
    font-size: 25px;
    padding: 7px;
    font-family: "Unica One", cursive;
}
.uploadForm {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 30px;
}

.card {
    height: 55vh;
    width: 25.5vw;
    border: 2px black solid;
    margin: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 45px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 45px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 45px -8px rgba(0, 0, 0, 0.75);
}
.title {
    border-top: 1px black solid;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: "Unica One", cursive;
    font-size: 20px;
}

.fa-times {
    margin: 5px;
    position: fixed;
    right: 2.5vw;
    top: 2.5vh;
    font-size: 30px;
    color: whitesmoke;
}

/* MODAL */

.component {
    display: grid;
    grid-template-columns: 63% 37%;
    grid-template-rows: 10% 70% 20%;
    grid-template-areas:
        "image username"
        "image comments"
        "image commentfield";

    background-color: white;
    position: fixed;
    top: 10vh;
    right: 15vw;
    left: 15vw;
    bottom: 10vh;
    min-height: 600px;
    min-width: 70vw;
    border-right: 2px solid whitesmoke;

    webkit-box-shadow: 0px 0px 45px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 45px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 45px -8px rgba(0, 0, 0, 0.75);
}

.imageContainer {
    grid-area: image;
    height: 100%;
    width: 100%;
    border-right: 2px solid whitesmoke;
}

.selected {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.username {
    grid-area: username;
    border-bottom: 1.98px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    margin: 0px 40px;
}

.comment {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    grid-area: comments;
}

.commentfield {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "comment comment"
        "cUsername submit";
    border-top: 2px solid whitesmoke;
}

.commentInput {
    grid-area: comment;
    border-bottom: solid 2px whitesmoke;
    height: 100%;
    padding-left: 10px;
    margin: 0;
    font-size: 12px;
}
.commentInput:focus {
    background: whitesmoke;
}

.cUsername:focus {
    background: whitesmoke;
}

.cUsername {
    grid-area: cUsername;
    border: none;
    padding-left: 10px;
    margin: 0;
    font-size: 12px;
}

.submit {
    grid-area: submit;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    border: none;
    border-left: 2px solid whitesmoke;
}

.submit:hover {
    background-color: whitesmoke;
    box-shadow: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
#postedBy {
    font-size: 13px;
    color: dimgray;
}

/*     UPLOAD BUTTON      */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: gold;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: "Unica One", cursive;
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/* MORE */
#more {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moreButton {
}

/*NAV */
.arrow-left {
    position: absolute;
    left: -50px;
    font-size: 30px;
    top: 45%;
    color: whitesmoke;
}

.arrow-right {
    position: absolute;
    right: -50px;
    font-size: 30px;
    top: 45%;
    color: whitesmoke;
}

.arrow-right:hover {
    color: grey;
}
.arrow-left:hover {
    color: grey;
}
